.icon-small i {
    float: left;
    margin-right: 10px;
    border-radius: 10%;
    padding-top: 3px;
}

.icon-small + p {
    clear: left;
    margin-top: 15px;
}

.icon-small h4 {
    text-align: left;
}