<div [@routerTransition]>
    <app-page-header [heading]="'Quiz History'" [icon]="'fa-desktop'"></app-page-header>
    <div class="row">
        <div class="col-sm-12">
            <div *ngFor="let item of result; let i = index;" class="card mb-3">
                <div class="card-header card-default">
                    Quiz No. {{i + 1}}
                </div>
                <div class="card-block">
                Score = {{item.score}} / 15
                </div>
            </div>
        </div>
    </div>

</div>
