<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
        <a [routerLink]="['/profile']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Profile' | translate }}
        </a>
        <a [routerLink]="['/proficiency']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-star"></i>&nbsp;{{ 'Proficiency' | translate }}
        </a>
        <a [routerLink]="['/quiz']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'Start Quiz' | translate }}
        </a>
        <a [routerLink]="['/quiz-history']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-book"></i>{{ 'Quiz History' | translate }}
        </a>
    </ul>
</nav>
