<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard'  }}
    </a>
      <div class="nested-menu">
        <a routerLink="/problems" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="addExpandClass('pages')">
          <span><i class="fa fa-plus"></i>&nbsp; {{ 'Problems'  }}</span>
        </a>
        <li class="nested" [class.expand]="showMenu === 'pages'">
          <ul class="submenu">
            <li>
              <a routerLink="/topic-based" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Topic Based'  }}
              </a>
            </li>
            <li>
              <a routerLink="/level-based" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Level'  }}
              </a>
            </li>
            <li>
              <a routerLink="/quiz-selection" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Quiz Selection'  }}
              </a>
            </li>
          </ul>
        </li>
      </div>
        <a [routerLink]="['/quiz-history']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Quiz History'  }}
        </a>
        <a [routerLink]="['/progress']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Progress'  }}
        </a>
        <a [routerLink]="['/top-hits']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Trends'  }}
        </a>
    </ul>
</nav>
