<div [@routerTransition]>
    <app-page-header [heading]="'Social Visulization'" [icon]="'fa-desktop'"></app-page-header>
     <div class="row">
        <div class="col-sm-2">
            <div class="card mb-3">
                <div class="card-header card-default">
                    2D Array
                </div>
                <div class="card-block">
                    <star-rating-comp [starType]="'svg'"
                                      [labelText]="'2D Array'"
                                      [labelPosition]="'top'"
                                      [step]="0.5"
                                      [hoverEnabled]="true"
                                      [showHalfStars]="true"
                                      [getHalfStarVisible]="true"
                                      (onClick)="onClick($event)"
                                      (onRatingChange)="onRatingChange($event)"
                                      (onHoverRatingChange)="onHoverRatingChange($event)">
                    </star-rating-comp>
                    <p>onHoverRatingChangeResult: {{onHoverRatingChangeResult | json}}</p>
                    <p>onClickResult: {{onClickResult | json}}</p>
                    <p>onRatingChangeResult: {{onRatingChangeResult | json}}</p>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card mb-3">
                <div class="card-header card-default">
                    Aritmetics
                </div>
                <div class="card-block">
                    <star-rating-comp [starType]="'svg'"
                                      [labelText]="'Aritmetics'"
                                      [labelPosition]="'top'"
                                      [step]="0.5"
                                      [hoverEnabled]="true"
                                      [showHalfStars]="true"
                                      [getHalfStarVisible]="true"
                                      (onClick)="onClick($event)"
                                      (onRatingChange)="onRatingChange($event)"
                                      (onHoverRatingChange)="onHoverRatingChange($event)">
                    </star-rating-comp>
                    <p>onHoverRatingChangeResult: {{onHoverRatingChangeResult | json}}</p>
                    <p>onClickResult: {{onClickResult | json}}</p>
                    <p>onRatingChangeResult: {{onRatingChangeResult | json}}</p>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card mb-3">
                <div class="card-header card-default">
                    Arrays
                </div>
                <div class="card-block">
                    <star-rating-comp [starType]="'svg'"
                                      [labelText]="'Arrays'"
                                      [labelPosition]="'top'"
                                      [step]="0.5"
                                      [hoverEnabled]="true"
                                      [showHalfStars]="true"
                                      [getHalfStarVisible]="true"
                                      (onClick)="onClick($event)"
                                      (onRatingChange)="onRatingChange($event)"
                                      (onHoverRatingChange)="onHoverRatingChange($event)">
                    </star-rating-comp>
                    <p>onHoverRatingChangeResult: {{onHoverRatingChangeResult | json}}</p>
                    <p>onClickResult: {{onClickResult | json}}</p>
                    <p>onRatingChangeResult: {{onRatingChangeResult | json}}</p>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card mb-3">
                <div class="card-header card-default">
                    Classes
                </div>
                <div class="card-block">

                    <star-rating-comp [starType]="'svg'"
                                      [labelText]="'Classes'"
                                      [labelPosition]="'top'"
                                      [step]="0.5"
                                      [hoverEnabled]="true"
                                      [showHalfStars]="true"
                                      [getHalfStarVisible]="true"
                                      (onClick)="onClick($event)"
                                      (onRatingChange)="onRatingChange($event)"
                                      (onHoverRatingChange)="onHoverRatingChange($event)">
                    </star-rating-comp>
                    <p>onHoverRatingChangeResult: {{onHoverRatingChangeResult | json}}</p>
                    <p>onClickResult: {{onClickResult | json}}</p>
                    <p>onRatingChangeResult: {{onRatingChangeResult | json}}</p>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card mb-3">
                <div class="card-header card-default">
                    Constructor
                </div>
                <div class="card-block">
                    <star-rating-comp [starType]="'svg'"
                                      [labelText]="'Constructor'"
                                      [labelPosition]="'top'"
                                      [step]="0.5"
                                      [hoverEnabled]="true"
                                      [showHalfStars]="true"
                                      [getHalfStarVisible]="true"
                                      (onClick)="onClick($event)"
                                      (onRatingChange)="onRatingChange($event)"
                                      (onHoverRatingChange)="onHoverRatingChange($event)">
                    </star-rating-comp>
                    <p>onHoverRatingChangeResult: {{onHoverRatingChangeResult | json}}</p>
                    <p>onClickResult: {{onClickResult | json}}</p>
                    <p>onRatingChangeResult: {{onRatingChangeResult | json}}</p>

                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card mb-3">
                <div class="card-header card-default">
                    Control
                </div>
                <div class="card-block">
                    <star-rating-comp [starType]="'svg'"
                                      [labelText]="'Control'"
                                      [labelPosition]="'top'"
                                      [step]="0.5"
                                      [hoverEnabled]="true"
                                      [showHalfStars]="true"
                                      [getHalfStarVisible]="true"
                                      (onClick)="onClick($event)"
                                      (onRatingChange)="onRatingChange($event)"
                                      (onHoverRatingChange)="onHoverRatingChange($event)">
                    </star-rating-comp>
                    <p>onHoverRatingChangeResult: {{onHoverRatingChangeResult | json}}</p>
                    <p>onClickResult: {{onClickResult | json}}</p>
                    <p>onRatingChangeResult: {{onRatingChangeResult | json}}</p>

                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card mb-3">
                <div class="card-header card-default">
                    Datatype
                </div>
                <div class="card-block">
                    <star-rating-comp [starType]="'svg'"
                                      [labelText]="'Datatype'"
                                      [labelPosition]="'top'"
                                      [step]="0.5"
                                      [hoverEnabled]="true"
                                      [showHalfStars]="true"
                                      [getHalfStarVisible]="true"
                                      (onClick)="onClick($event)"
                                      (onRatingChange)="onRatingChange($event)"
                                      (onHoverRatingChange)="onHoverRatingChange($event)">
                    </star-rating-comp>
                    <p>onHoverRatingChangeResult: {{onHoverRatingChangeResult | json}}</p>
                    <p>onClickResult: {{onClickResult | json}}</p>
                    <p>onRatingChangeResult: {{onRatingChangeResult | json}}</p>

                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card mb-3">
                <div class="card-header card-default">
                    Decisions
                </div>
                <div class="card-block">
                    <star-rating-comp [starType]="'svg'"
                                      [labelText]="'Decisions'"
                                      [labelPosition]="'top'"
                                      [step]="0.5"
                                      [hoverEnabled]="true"
                                      [showHalfStars]="true"
                                      [getHalfStarVisible]="true"
                                      (onClick)="onClick($event)"
                                      (onRatingChange)="onRatingChange($event)"
                                      (onHoverRatingChange)="onHoverRatingChange($event)">
                    </star-rating-comp>
                    <p>onHoverRatingChangeResult: {{onHoverRatingChangeResult | json}}</p>
                    <p>onClickResult: {{onClickResult | json}}</p>
                    <p>onRatingChangeResult: {{onRatingChangeResult | json}}</p>

                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card mb-3">
                <div class="card-header card-default">
                    Expression
                </div>
                <div class="card-block">
                    <star-rating-comp [starType]="'svg'"
                                      [labelText]="'Expression'"
                                      [labelPosition]="'top'"
                                      [step]="0.5"
                                      [hoverEnabled]="true"
                                      [showHalfStars]="true"
                                      [getHalfStarVisible]="true"
                                      (onClick)="onClick($event)"
                                      (onRatingChange)="onRatingChange($event)"
                                      (onHoverRatingChange)="onHoverRatingChange($event)">
                    </star-rating-comp>
                    <p>onHoverRatingChangeResult: {{onHoverRatingChangeResult | json}}</p>
                    <p>onClickResult: {{onClickResult | json}}</p>
                    <p>onRatingChangeResult: {{onRatingChangeResult | json}}</p>

                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card mb-3">
                <div class="card-header card-default">
                    InputOutput
                </div>
                <div class="card-block">
                    <star-rating-comp [starType]="'svg'"
                                      [labelText]="'InputOutput'"
                                      [labelPosition]="'top'"
                                      [step]="0.5"
                                      [hoverEnabled]="true"
                                      [showHalfStars]="true"
                                      [getHalfStarVisible]="true"
                                      (onClick)="onClick($event)"
                                      (onRatingChange)="onRatingChange($event)"
                                      (onHoverRatingChange)="onHoverRatingChange($event)">
                    </star-rating-comp>
                    <p>onHoverRatingChangeResult: {{onHoverRatingChangeResult | json}}</p>
                    <p>onClickResult: {{onClickResult | json}}</p>
                    <p>onRatingChangeResult: {{onRatingChangeResult | json}}</p>

                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card mb-3">
                <div class="card-header card-default">
                    Java
                </div>
                <div class="card-block">
                    <star-rating-comp [starType]="'svg'"
                                      [labelText]="'Java'"
                                      [labelPosition]="'top'"
                                      [step]="0.5"
                                      [hoverEnabled]="true"
                                      [showHalfStars]="true"
                                      [getHalfStarVisible]="true"
                                      (onClick)="onClick($event)"
                                      (onRatingChange)="onRatingChange($event)"
                                      (onHoverRatingChange)="onHoverRatingChange($event)">
                    </star-rating-comp>
                    <p>onHoverRatingChangeResult: {{onHoverRatingChangeResult | json}}</p>
                    <p>onClickResult: {{onClickResult | json}}</p>
                    <p>onRatingChangeResult: {{onRatingChangeResult | json}}</p>

                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card mb-3">
                <div class="card-header card-default">
                    Loops
                </div>
                <div class="card-block">
                    <star-rating-comp [starType]="'svg'"
                                      [labelText]="'Loops'"
                                      [labelPosition]="'top'"
                                      [step]="0.5"
                                      [hoverEnabled]="true"
                                      [showHalfStars]="true"
                                      [getHalfStarVisible]="true"
                                      (onClick)="onClick($event)"
                                      (onRatingChange)="onRatingChange($event)"
                                      (onHoverRatingChange)="onHoverRatingChange($event)">
                    </star-rating-comp>
                    <p>onHoverRatingChangeResult: {{onHoverRatingChangeResult | json}}</p>
                    <p>onClickResult: {{onClickResult | json}}</p>
                    <p>onRatingChangeResult: {{onRatingChangeResult | json}}</p>

                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card mb-3">
                <div class="card-header card-default">
                    Method
                </div>
                <div class="card-block">
                    <star-rating-comp [starType]="'svg'"
                                      [labelText]="'Method'"
                                      [labelPosition]="'top'"
                                      [step]="0.5"
                                      [hoverEnabled]="true"
                                      [showHalfStars]="true"
                                      [getHalfStarVisible]="true"
                                      (onClick)="onClick($event)"
                                      (onRatingChange)="onRatingChange($event)"
                                      (onHoverRatingChange)="onHoverRatingChange($event)">
                    </star-rating-comp>
                    <p>onHoverRatingChangeResult: {{onHoverRatingChangeResult | json}}</p>
                    <p>onClickResult: {{onClickResult | json}}</p>
                    <p>onRatingChangeResult: {{onRatingChangeResult | json}}</p>

                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card mb-3">
                <div class="card-header card-default">
                    Objects
                </div>
                <div class="card-block">
                    <star-rating-comp [starType]="'svg'"
                                      [labelText]="'Objects'"
                                      [labelPosition]="'top'"
                                      [step]="0.5"
                                      [hoverEnabled]="true"
                                      [showHalfStars]="true"
                                      [getHalfStarVisible]="true"
                                      (onClick)="onClick($event)"
                                      (onRatingChange)="onRatingChange($event)"
                                      (onHoverRatingChange)="onHoverRatingChange($event)">
                    </star-rating-comp>
                    <p>onHoverRatingChangeResult: {{onHoverRatingChangeResult | json}}</p>
                    <p>onClickResult: {{onClickResult | json}}</p>
                    <p>onRatingChangeResult: {{onRatingChangeResult | json}}</p>

                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card mb-3">
                <div class="card-header card-default">
                    Method
                </div>
                <div class="card-block">
                    <star-rating-comp [starType]="'svg'"
                                      [labelText]="'Operator'"
                                      [labelPosition]="'top'"
                                      [step]="0.5"
                                      [hoverEnabled]="true"
                                      [showHalfStars]="true"
                                      [getHalfStarVisible]="true"
                                      (onClick)="onClick($event)"
                                      (onRatingChange)="onRatingChange($event)"
                                      (onHoverRatingChange)="onHoverRatingChange($event)">
                    </star-rating-comp>
                    <p>onHoverRatingChangeResult: {{onHoverRatingChangeResult | json}}</p>
                    <p>onClickResult: {{onClickResult | json}}</p>
                    <p>onRatingChangeResult: {{onRatingChangeResult | json}}</p>

                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card mb-3">
                <div class="card-header card-default">
                    Primitive Data Type
                </div>
                <div class="card-block">
                    <star-rating-comp [starType]="'svg'"
                                      [labelText]="'Primitive Data Type'"
                                      [labelPosition]="'top'"
                                      [step]="0.5"
                                      [hoverEnabled]="true"
                                      [showHalfStars]="true"
                                      [getHalfStarVisible]="true"
                                      (onClick)="onClick($event)"
                                      (onRatingChange)="onRatingChange($event)"
                                      (onHoverRatingChange)="onHoverRatingChange($event)">
                    </star-rating-comp>
                    <p>onHoverRatingChangeResult: {{onHoverRatingChangeResult | json}}</p>
                    <p>onClickResult: {{onClickResult | json}}</p>
                    <p>onRatingChangeResult: {{onRatingChangeResult | json}}</p>

                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card mb-3">
                <div class="card-header card-default">
                    Strings
                </div>
                <div class="card-block">
                    <star-rating-comp [starType]="'svg'"
                                      [labelText]="'Strings'"
                                      [labelPosition]="'top'"
                                      [step]="0.5"
                                      [hoverEnabled]="true"
                                      [showHalfStars]="true"
                                      [getHalfStarVisible]="true"
                                      (onClick)="onClick($event)"
                                      (onRatingChange)="onRatingChange($event)"
                                      (onHoverRatingChange)="onHoverRatingChange($event)">
                    </star-rating-comp>
                    <p>onHoverRatingChangeResult: {{onHoverRatingChangeResult | json}}</p>
                    <p>onClickResult: {{onClickResult | json}}</p>
                    <p>onRatingChangeResult: {{onRatingChangeResult | json}}</p>

                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card mb-3">
                <div class="card-header card-default">
                    Variables
                </div>
                <div class="card-block">
                    <star-rating-comp [starType]="'svg'"
                                      [labelText]="'Variables'"
                                      [labelPosition]="'top'"
                                      [step]="0.5"
                                      [hoverEnabled]="true"
                                      [showHalfStars]="true"
                                      [getHalfStarVisible]="true"
                                      (onClick)="onClick($event)"
                                      (onRatingChange)="onRatingChange($event)"
                                      (onHoverRatingChange)="onHoverRatingChange($event)">
                    </star-rating-comp>
                    <p>onHoverRatingChangeResult: {{onHoverRatingChangeResult | json}}</p>
                    <p>onClickResult: {{onClickResult | json}}</p>
                    <p>onRatingChangeResult: {{onRatingChangeResult | json}}</p>
                </div>
            </div>
        </div>


    </div>

</div>
