<div [@routerTransition]>

    <h2 class="text-muted">Statistics
    </h2>
    <div class="row">
        <div class="col-md-8">
            <ngx-charts-advanced-pie-chart
                [view]="view"
                [scheme]="colorScheme"
                [results]="datapie"
                (select)="onSelect($event)">
            </ngx-charts-advanced-pie-chart>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div align="center" class="card-header">
                    Leaderboard
                </div>
                <div class="card-block">
                    <table class="table" *ngIf="dataFlag">
                        <thead class="thead-default">
                        <tr>
                            <th>#</th>
                            <th>Email</th>
                            <th>Score</th>
                        </tr>
                        </thead>
                        <tr *ngFor="let k of data; let i = index;">
                            <td>{{i+1}}</td>
                            <td><a (click)="toggle($event)" id="{{k.name}}"
                                   [routerLink]="['/social-vis']">{{k.name}}</a></td>
                            <td>{{k.score}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-8" *ngIf="dataFlag">
            <div class="card mb-3">
                <div align="center" class="card-header">
                    Line Chart
                </div>
                <div class="card-block">
                    <ngx-charts-line-chart
                        [view]="[600, 400]"
                        [scheme]="colorScheme"
                        [results]="performanceResults"
                        [gradient]="gradient"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="'Quiz'"
                        [yAxisLabel]="'Proficiency (in %)'"
                        [autoScale]="autoScale">
                    </ngx-charts-line-chart>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card mb-3">
                <div align="center" class="card-header">
                    Stacked Bar Chart
                </div>
                <div class="card-block">
                    <ngx-charts-bar-horizontal-stacked
                        [view]="[600, 400]"
                        [scheme]="colorScheme"
                        [results]="barchartResults"
                        [gradient]="gradient"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="'Total Questions'"
                        [yAxisLabel]="'Topics'">
                    </ngx-charts-bar-horizontal-stacked>
                </div>
            </div>
        </div>
    </div>
</div>
