<app-header></app-header>


  <div class="col-md-6 col-md-offset-3">
    <h2>Change Password</h2>
    <form name="form" >
      <div class="form-group" >
        <label>Current Password</label>
        <input type="text" class="form-control" name="currentPassword" [(ngModel)]="currentPassword"  required />
        <div class="help-block">Old Password</div>
      </div>
      <div class="form-group" >
        <label >New Password</label>
        <input type="password" class="form-control" name="newPassword" [(ngModel)]="newPassword"  required />
        <div  class="help-block">Password is required</div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" (click)="changePassword(currentPassword, newPassword)">Change Password</button>
      </div>
    </form>
  </div>
