
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Edit Profile</h2>
      <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> <a
          href="Javascript:void(0)" routerLink="/dashboard/home">Dashboard</a>
        </li>
        <li class="active"><i class="fa fa-edit"></i> Forms</li>
      </ol>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-lg-6">

      <form role="form">
        <fieldset class="form-group">
          <label>Real Name</label> <input style="position: inherit" class="form-control">
        </fieldset>

        <fieldset class="form-group">
        <label>Website</label> <input style="position: inherit" class="form-control">
        </fieldset>

        <fieldset class="form-group">
        <label>Country</label> <input style="position: inherit" class="form-control">
        </fieldset>

        <fieldset class="form-group">
          <label>Occupation</label> <label class="radio-inline">
          <input type="radio" name="optionsRadiosInline"
                 id="occupationStudent" value="option1" checked> Student
        </label> <label class="radio-inline"> <input type="radio"
                                                     name="optionsRadiosInline" id="occupationProfessional"
                                                     value="option2"> Professional
        </label>
        </fieldset>

        <fieldset class="form-group">
          <label>Add Email</label> <input
          class="form-control">
        </fieldset>

        <fieldset class="form-group">
        <label>School</label> <input style="position: inherit" class="form-control">
      </fieldset>

        <fieldset class="form-group">
          <label>Company</label> <input style="position: inherit" class="form-control">
        </fieldset>

        <fieldset class="form-group">
          <label for="exampleInputFile">Resume Upload</label> <input type="file"
                                                                  class="form-control-file" id="exampleInputFile">
        </fieldset>

        <fieldset class="form-group">
          <label>About Me</label>
          <textarea class="form-control" rows="3"></textarea>
        </fieldset>



        <fieldset class="form-group">
          <label>Gender</label> <label class="radio-inline">
          <input type="radio" name="optionsRadiosInline"
                 id="optionsRadiosInline1" value="option1" checked>Male
        </label> <label class="radio-inline"> <input type="radio"
                                                     name="optionsRadiosInline" id="optionsRadiosInline2"
                                                     value="option2">Female
        </label> <label class="radio-inline"> <input type="radio"
                                                     name="optionsRadiosInline" id="optionsRadiosInline3"
                                                     value="option3">Other
        </label>
        </fieldset>

        <button type="submit" class="btn btn-secondary">Save Changes</button>
        <button type="reset" class="btn btn-secondary">Cancel</button>

      </form>

    </div>
  <!-- /.row -->

</div>
