<div [@routerTransition]>
    <app-page-header [heading]="'User Proficiency'" [icon]="'fa-star'"></app-page-header>
    <div class="row">
        <div class="page-header">
            <h3>Your Proficiency Rating for the Topics</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card mb-3">
                <div class="card-block">
                    <star-rating-comp [starType]="'svg'"
                                      [labelText]="'Arrays'"
                                      [labelPosition]="'left'"
                                      [step]="0.5"
                                      [rating]="3.2"
                                      [hoverEnabled]="true"
                                      [showHalfStars]="true"
                                      [getHalfStarVisible]="true"
                                      (onClick)="onClick($event)">
                    </star-rating-comp>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card mb-3">
                <div class="card-block">
                    <star-rating-comp [starType]="'svg'"
                                      [labelText]="'Methods'"
                                      [labelPosition]="'left'"
                                      [step]="0.5"
                                      [rating]="3.9"
                                      [hoverEnabled]="true"
                                      [showHalfStars]="true"
                                      [getHalfStarVisible]="true"
                                      (onClick)="onClick($event)">
                    </star-rating-comp>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card mb-3">
                <div class="card-block">
                    <star-rating-comp [starType]="'svg'"
                                      [labelText]="'Operators'"
                                      [labelPosition]="'left'"
                                      [step]="0.5"
                                      [rating]="4.2"
                                      [hoverEnabled]="true"
                                      [showHalfStars]="true"
                                      [getHalfStarVisible]="true"
                                      (onClick)="onClick($event)">
                    </star-rating-comp>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card mb-3">
                <div class="card-block">
                    <star-rating-comp [starType]="'svg'"
                                      [labelText]="'Strings'"
                                      [labelPosition]="'left'"
                                      [step]="0.5"
                                      [rating]="4.7"
                                      [hoverEnabled]="true"
                                      [showHalfStars]="true"
                                      [getHalfStarVisible]="true"
                                      (onClick)="onClick($event)">
                    </star-rating-comp>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card mb-3">
                <div class="card-block">
                    <star-rating-comp [starType]="'svg'"
                                      [labelText]="'Variable'"
                                      [labelPosition]="'left'"
                                      [step]="0.5"
                                      [rating]="4.6"
                                      [hoverEnabled]="true"
                                      [showHalfStars]="true"
                                      [getHalfStarVisible]="true"
                                      (onClick)="onClick($event)">
                    </star-rating-comp>
                </div>
            </div>
        </div>
    </div>
</div>
