<div class="col-md-6 col-md-offset-3">
  <img src="../../../assets/images/quiz_me_index.png" style="margin-left:70px; margin-top: 50px; width: 400px;height: 100px">
  <h2>Register</h2>
  <form name="form" >
    <div class="form-group" >
      <label >First Name</label>
      <input type="text" class="form-control" name="firstName" [(ngModel)]="firstname"required />
      <div class="help-block">First Name is required</div>
    </div>
    <div class="form-group" >
      <label >Last Name</label>
      <input type="text" class="form-control" name="lastName"  [(ngModel)]="lastname" required />
      <div class="help-block">Last Name is required</div>
    </div>
    <div class="form-group" >
      <label>Username</label>
      <input type="text" class="form-control" name="username" [(ngModel)]="username" required />
      <div class="help-block">Username is required</div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="password" required />
      <div class="help-block">Password is required</div>
    </div>
    <div class="form-group">
      <button  class="btn btn-primary" (click)="registerUser(firstname,lastname,username,password)">Register</button>
      <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
    </div>
  </form>
</div>
