<div [@routerTransition]>
    <app-page-header [heading]="'Quiz'" [icon]="'fa-wrench'"></app-page-header>

    <div id="quiz">
        <div class="card mb-3">
            <div class="card-block">
                <div *ngIf="mode=='quiz' && quiz">
                    <div *ngFor="let question of filteredQuestions;">
                        <div>
                            <span class="badge badge-info">Question {{pager.index + 1}} of {{pager.count}}.</span>
                            <span class="badge badge-success" [innerHTML]="question.coursetopic"></span>
                            <span class="badge badge-primary" [innerHTML]="question.level"></span>
                            <h5 style="float:right">{{tick}} seconds</h5>
                        </div>
                        <hr>
                        <h4>{{pager.index + 1}}. &nbsp;<span [innerHTML]="question.name"></span>
                        </h4>
                        <hr/>
                        <div class="row text-left options">
                            <div class="col-md-6" *ngFor="let option of question.options">
                                <div class="option">
                                    <label class="" [attr.for]="option.id">
                                        <input id="{{option.id}}" type="checkbox" [(ngModel)]="option.selected"
                                               (change)="onSelect(question, option);"/>
                                        {{option.name}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="text-sm-center">
                        <button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(0);">First</button>
                        <button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(pager.index - 1);">Prev
                        </button>
                        <button class="btn btn-primary" (click)="goTo(pager.index + 1);">Next</button>
                        <button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(pager.count - 1);">Last
                        </button>
                        <!--<pagination *ngIf="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-models="currentPage" ng-change="pageChanged()"></pagination>-->
                    </div>
                </div>
                <div class="row review" *ngIf="mode=='review'">
                    <div class="col-sm-4" *ngFor="let question of quiz.questions; let index = index;">
                        <div (click)="goTo(index)"
                             class="{{ isAnswered(question) == 'Answered'? 'answered': 'not-answered' }}">{{index + 1}}.
                            {{ isAnswered(question) }}
                        </div>
                    </div>
                </div>
                <div class="result" *ngIf="mode=='result'">
                    <h3>Quiz Result</h3>
                    <div *ngFor="let question of quiz.questions; let index = index">
                        <div class="result-question">
                            <h4>{{index + 1}}. {{question.name}}</h4>
                            <div class="row">
                                <div class="col-md-6" *ngFor="let Option of question.options">
                                    <input id="{{Option.id}}" type="checkbox" disabled="disabled"
                                           [(ngModel)]="Option.selected"/> {{Option.name}}
                                </div>
                            </div>
                            <div class="alert {{ isCorrect(question) == 'correct'? 'alert-success': 'alert-danger'}}">
                                Your answer is {{isCorrect(question)}}.
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-default" [routerLink]="['/quiz']">Star Quiz</button>
                    <button class="btn btn-default" [routerLink]="['/dashboard']">Go to Dashboard</button>
                </div>
                <hr/>
                <div style="float: right" *ngIf="mode!='result'">
                    <button class="btn btn-default" (click)="mode = 'quiz'">Quiz</button>
                    <button class="btn btn-default" (click)="mode = 'review'">Review</button>
                    <button class="btn btn-default" (click)="onSubmit();">Submit Quiz</button>
                </div>

            </div>
        </div>
    </div>
</div>
